<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ page.title }} | {{ site.title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <script src="{{ '/assets/js/gsap.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/barba.min.js' | relative_url }}"></script>
  <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</head>
<body>
  {% include header.html %}
  <main class="container{% if page.title == 'Home' %} home-center{% endif %}">
    {{ content }}
  </main>
</body>
</html>
